<h2><%= @company.name %> Investments</h2>
<h2><%= @investment.name %> Investment Detail</h2>
<div id="advancement_container">
	<div id="previous_button"><%= link_to "< PREVIOUS", organization_fund_company_investment_path(@organization, @fund, @company, @company.previous_investment(@investment.id)) rescue "< PREVIOUS" %>
	</div>
	<div id="next_button">
	<%= link_to "NEXT >", organization_fund_company_investment_path(@organization, @fund, @company, @company.next_investment(@investment.id)) rescue "NEXT >" %>
	</div>
</div>

<div id="company_summary_container">
	<div id="company_summary_box">
		<div id="company_summary_box_title">Summary</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Fully-Diluted Ownership *</div>	
			<div id="company_summary_box_content_value"><%= ph(@investment.fully_diluted_ownership, 1) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Preferred Ownership *</div>	
			<div id="company_summary_box_content_value"><%= ph(@investment.preferred_ownership, 1) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">H12 Investment</div>	
			<div id="company_summary_box_content_value"><%= nh(@investment.investment_amount) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Security</div>	
			<div id="company_summary_box_content_value"><%= @investment.security_type %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Shares Purchased</div>	
			<div id="company_summary_box_content_value"><%= nhd(@investment.shares_purchased) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Liquidation Preference</div>	
			<div id="company_summary_box_content_value"><%= @investment.liquidation_preference %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Liquidation Preference Cap</div>	
			<div id="company_summary_box_content_value"><%= @investment.liquidation_preference_cap %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Dividend Rate</div>	
			<div id="company_summary_box_content_value"><%= ph(@investment.dividend_rate, 1) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Dividend Compound Period (months)</div>	
			<div id="company_summary_box_content_value"><%= @investment.dividend_period %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name" class="italic">* At the time of investment</div>	
		</div>
	</div>

	<div id="company_summary_box">
		<div id="company_summary_box_title">Round Details</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Close Date</div>	
			<div id="company_summary_box_content_value"><%= @investment.date %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Pre-Money</div>	
			<div id="company_summary_box_content_value"><%= nh(@investment.pre_money) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Total Raise</div>	
			<div id="company_summary_box_content_value"><%= nh(@investment.capital_raised) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Post-Money</div>	
			<div id="company_summary_box_content_value"><%= nh(@investment.post_money) %></div>
		</div>

		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Previously Raised Capital *</div>	
			<div id="company_summary_box_content_value"><%= nh(@investment.existing_capital_raised) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Share Price</div>	
			<div id="company_summary_box_content_value"><%= nh(@investment.share_price, 2) %></div>
		</div>
	</div>
</div>
<div id="company_summary_box_wide">
	<div id="company_summary_box_wide_title">Notes</div>
	<div id="company_summary_box_wide_content_container">
		<div><%= @investment.notes%></div>	
	</div>
</div>

<div class='back_footer'>
	<%= link_to 'Edit', edit_organization_fund_company_investment_path(@organization, @fund, @company, @investment)%> | 
	<%= link_to 'Back', organization_fund_company_investments_path(@organization, @fund, @company) %>
</div>