<%= form_for [@organization, @investor, @event] do |f| %>

	<%= hidden_field_tag :refer_id, @refer_id %>

	<p><%= f.label :name %><br />
	<%= f.text_field :name %></p>

	<p><%= f.label :event_type %><br />
	<%= f.select :event_type, ['meeting', 'phone'], :include_blank => true %></p>	
		
	<p><%= f.label :date %><br />
	<%= f.text_field :date %></p>

	<p><%= f.label :notes %><br />
	<%= f.text_area :notes, :size => '80x5' %></p>

	<p>
		<p><%= @investor.name %> Contacts</p>
			<% @investor.users.each do |participant| %>
				<%= check_box_tag "event[attendee_ids][]", participant.id, @event.attendee_ids.include?(participant.id) %>
				<%= participant.first_name %><br />
			<% end %>
			<%= "(No contacts available)" if @investor.users.empty? %>

		<p><%= @organization.name + "Team" %></p>
			<% @organization.users.each do |investor_participant| %>
				<%= check_box_tag "event[attendee_ids][]", investor_participant.id, @event.attendee_ids.include?(investor_participant.id) %>
				<%= investor_participant.first_name %><br />
			<% end %>
			<%= "(No contacts available)" if @organization.users.empty? %>

	</p>

	<p><%= f.submit %></p>

<% end %>