<h2><%= @company.name %></h2>

<div id="company_summary_container">

	<div id="company_summary_box">
		<div id="company_summary_box_title">Investment Detail</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Ownership</div>	
			<div id="company_summary_box_content_value"><%= ph(@company.ownership_percentage, 1) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Our Total Investment</div>	
			<div id="company_summary_box_content_value"><%= nh(@company.investment_total) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Our First Investment</div>	
			<div id="company_summary_box_content_value"><%= @company.investments.order('date DESC').last.date %></div>
		</div>		
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Most Recent Series</div>	
			<div id="company_summary_box_content_value"><%= @company.investments.order('date DESC').last.name %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Total Capital Raised (to date)</div>	
			<div id="company_summary_box_content_value"><%= nh(@company.investments.order('date DESC').last.existing_capital_raised) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Initial Pre-money Valuation</div>	
			<div id="company_summary_box_content_value"><%= nh(@company.investments.order('date DESC').first.pre_money) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Current Post-money Valuation</div>	
			<div id="company_summary_box_content_value"><%= nh(@company.investments.order('date DESC').last.post_money) %></div>
		</div>
	</div>

	<div id="company_summary_box">
		<div id="company_summary_box_title">Operational Metrics</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">TTM Revenue</div>	
			<div id="company_summary_box_content_value"><%= nh(@company.ttm_revenue) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">TTM Annual Revenue Growth</div>	
			<div id="company_summary_box_content_value"><%= ph(@company.ttm_revenue_growth, 1) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">TTM Monthly Revenue Growth</div>	
			<div id="company_summary_box_content_value"><%= ph(@company.ttm_revenue_growth_monthly, 1) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Cash Balance</div>	
			<div id="company_summary_box_content_value"><%= nh(@company.current_cash_balance) %></div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Cash Burn (monthly)</div>	
			<div id="company_summary_box_content_value">?</div>
		</div>		
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Cash Runway</div>	
			<div id="company_summary_box_content_value">10 months ?</div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Revenue per employee (annual)</div>	
			<div id="company_summary_box_content_value">$40,000 ?</div>
		</div>
		<div id="company_summary_box_content_container">
			<div id="company_summary_box_content_name">Expense per revenue (annual)</div>	
			<div id="company_summary_box_content_value">$50,000 ?</div>
		</div>
	</div>

	<div id="company_summary_box_tall">
		<div id="company_summary_box_tall_title"><%= @company.name %> | Investment Summary</div>
		<div id="company_summary_box_tall_content_container">
			<div id="company_summary_box_tall_content_name">Description</div>	
			<div id="company_summary_box_tall_content_value"><%= @company.description %></div>
		</div>
		<div id="company_summary_box_tall_content_container">
			<div id="company_summary_box_tall_content_name">Industry</div>	
			<div id="company_summary_box_tall_content_value"><%= @company.industry_id %></div>
		</div>
		<div id="company_summary_box_tall_content_container">
			<div id="company_summary_box_tall_content_name">Employees</div>	
			<div id="company_summary_box_tall_content_value">34</div>
		</div>		
		<div id="company_summary_box_tall_content_container">
			<div id="company_summary_box_tall_content_name">Founded</div>	
			<div id="company_summary_box_tall_content_value"><%= @company.founded %></div>
		</div>
		<div id="company_summary_box_tall_content_container">
			<div id="company_summary_box_tall_content_name">Syndicate</div>	
			<div id="company_summary_box_tall_content_value"><%= @company.syndicate %></div>
		</div>
		<div id="company_summary_box_tall_content_container">
			<div id="company_summary_box_tall_content_name">Partner</div>	
			<div id="company_summary_box_tall_content_value">Phil Reed</div>
		</div>
		<div id="company_summary_box_tall_content_container">
			<div id="company_summary_box_tall_content_name">Sourced</div>	
			<div id="company_summary_box_tall_content_value">Village Network</div>
		</div>
		<div id="company_summary_box_tall_content_container">
			<div id="company_summary_box_tall_content_name">Stage</div>	
			<div id="company_summary_box_tall_content_value">Early</div>
		</div>
	</div>
			
	<div id="company_summary_box_wide">
		<div id="company_summary_box_wide_title">Income Statement</div>
		<div id="company_summary_box_wide_content_container">
			<div id="company_summary_box_wide_content_name">Year</div>	
			<div id="company_summary_box_wide_content_value">2009</div>
			<div id="company_summary_box_wide_content_value">2010</div>
			<div id="company_summary_box_wide_content_value">2011</div>
		</div>
		<div id="company_summary_box_wide_content_container">
			<div id="company_summary_box_wide_content_name">Bookings</div>	
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_bookings(2009)) %></div>
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_bookings(2010)) %></div>
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_bookings(2011)) %></div>
		</div>
		<div id="company_summary_box_wide_content_container">
			<div id="company_summary_box_wide_content_name">Revenue</div> 
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_revenue(2009)) %></div>
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_revenue(2010)) %></div>
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_revenue(2011)) %></div>
		</div>
		<div id="company_summary_box_wide_content_container">
			<div id="company_summary_box_wide_content_name">Expenses</div>	
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_expenses(2009)) %></div>
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_expenses(2010)) %></div>
			<div id="company_summary_box_wide_content_value"><%= nh(@company.annual_expenses(2011)) %></div>
		</div>
		<div id="company_summary_box_wide_content_container">
			<div id="company_summary_box_wide_content_name">Annual growth rate</div>	
			<div id="company_summary_box_wide_content_value">-</div>
			<div id="company_summary_box_wide_content_value"><%= ph(((@company.annual_revenue(2010) / @company.annual_revenue(2009).to_f) - 1)*100, 1) %></div>
			<div id="company_summary_box_wide_content_value"><%= ph(((@company.annual_revenue(2011) / @company.annual_revenue(2010).to_f) - 1)*100, 1) %></div>
		</div>		
		<div id="company_summary_box_wide_content_container">
			<div id="company_summary_box_wide_content_name">Gross Margin</div>	
			<div id="company_summary_box_wide_content_value"><%= ph( (@company.annual_cogs(2009) / @company.annual_revenue(2009).to_f)*100, 1 ) %></div>
			<div id="company_summary_box_wide_content_value"><%= ph( (@company.annual_cogs(2010) / @company.annual_revenue(2010).to_f)*100, 1 ) %></div>
			<div id="company_summary_box_wide_content_value"><%= ph( (@company.annual_cogs(2011) / @company.annual_revenue(2011).to_f)*100, 1 ) %></div>
		</div>
		<div id="company_summary_box_wide_content_container">
			<div id="company_summary_box_wide_content_name">Operating Margin</div>	
			<div id="company_summary_box_wide_content_value"><%= ph(@company.annual_operating_margin(2009)*100, 1) %></div>
			<div id="company_summary_box_wide_content_value"><%= ph(@company.annual_operating_margin(2010)*100, 1) %></div>
			<div id="company_summary_box_wide_content_value"><%= ph(@company.annual_operating_margin(2011)*100, 1) %></div>
		</div>
		<div id="company_summary_box_wide_content_container">
			<div id="company_summary_box_wide_content_name">Net Margin</div>	
			<div id="company_summary_box_wide_content_value"><%= ph(@company.annual_net_margin(2009)*100, 1) %></div>
			<div id="company_summary_box_wide_content_value"><%= ph(@company.annual_net_margin(2010)*100, 1) %></div>
			<div id="company_summary_box_wide_content_value"><%= ph(@company.annual_net_margin(2011)*100, 1) %></div>
		</div>
	</div>

</div>


<br />
<div class='back_footer'>
	<%= link_to 'View Financials', organization_fund_company_financials_path(@organization, @fund, @company) %> |
	<%= link_to 'View Investments', organization_fund_company_investments_path(@organization, @fund, @company) %>
</div>
<div class='back_footer'>
	<%= link_to 'Add Financials', new_organization_fund_company_financial_path(@organization, @fund, @company) %> |
	<%= link_to 'Add Investment', new_organization_fund_company_investment_path(@organization, @fund, @company) %>
</div>
<div class='back_footer'>
	<%= link_to 'Edit', edit_organization_fund_company_path(@organization, @fund)%> | 
	<%= link_to 'Back', organization_fund_path(@organization, @fund) %>
</div>