<p>
  <%= form.label :period %><br />
  <%= form.date_select :period, :order => [:month, :year], :include_blank => true %>
</p>
<p>
  <%= form.label :bookings %><br />
  <%= form.text_field :bookings %>
</p>
<span class="bold">Revenue</span>
<p>
  <%= form.label :revenue, "Other Revenue" %><br />
  <%= form.text_field :revenue %>
</p>

<span class="bold">COGS</span>
<p>
  <%= form.label :cogs %><br />
  <%= form.text_field :cogs %>
</p>

<span class="bold">Operating Expenses</span>
<p>
  <%= form.label :operating_expenses, 'Other Operating Expenses' %><br />
  <%= form.text_field :operating_expenses %>
</p>
<p>
  <%= form.label :sg_and_a %><br />
  <%= form.text_field :sg_and_a %>
</p>
<p>
  <%= form.label :r_and_d %><br />
  <%= form.text_field :r_and_d %>
</p>

<span class="bold">Other Rev/Exp</span>
<p>
  <%= form.label :depreciation %><br />
  <%= form.text_field :depreciation %>
</p>
<p>
  <%= form.label :amortization %><br />
  <%= form.text_field :amortization %>
</p>
<p>
  <%= form.label :interest_income %><br />
  <%= form.text_field :interest_income %>
</p>
<p>
  <%= form.label :interest_expense %><br />
  <%= form.text_field :interest_expense %>
</p>
<p>
  <%= form.label :other_income %><br />
  <%= form.text_field :other_income %>
</p>
<p>
  <%= form.label :other_expense %><br />
  <%= form.text_field :other_expense %>
</p>	
<p>
  <%= form.label :tax_expense %><br />
  <%= form.text_field :tax_expense %>
</p>

<span class="bold">End of Period Balances</span>
<p>
	<%= form.label :head_count %>
	<%= form.text_field :head_count %>
</p>
<p>
	<%= form.label :debt_balance %>
	<%= form.text_field :debt_balance %>
</p>
<p>
	<%= form.label :cash_balance %>
	<%= form.text_field :cash_balance %>
</p>
<p>
	<%= form.label :cash_burn %>
	<%= form.text_field :cash_burn %>
</p>
<p>
	<%= form.submit :save %>
</p>