<table class="org_summary right">
	<%= render @header_row_partial %>
  <tr class="theight" style="font-weight:bold">
		<td class="left">Company</td>
		<td class="right9">Bookings</td>
		<td class="right9">Revenue</td>
		<td class="right9">COGS</td>
		<td class="right9">Gross Profit</td>
		<td class="right9">Expenses</td>
		<td class="right9">Operating Profit</td>
		<td></td>
	</tr>
	<% @financial_summary.each do |company_financial| %>
		<% company_financial.financial_set.each do |fs| %>
	  <tr class="theight">
      <td class="left"><%= company_financial.company.name %></td>
			<td style="text-align:right"><%= nhelper(fs.bookings) %></td>
			<td style="text-align:right"><%= nhelper(fs.revenue) %></td>
			<td style="text-align:right"><%= nhelper(fs.cogs) %></td>
			<td style="text-align:right"><%= nhelper(fs.revenue - fs.cogs) %></td>
			<td style="text-align:right"><%= nhelper(fs.operating_expenses) %></td>
			<td style="text-align:right"><%= nhelper(fs.revenue - fs.cogs - fs.operating_expenses) %></td>
			<td></td>
		</tr>
		<% end %>
	<% end %>
</table>