<table style="text-align:left;width:500px">
  <tr class="theight theader bold">
		<th>Organization</th>
		<th>Funds</th>
		<th>Companies</th>
    <th></th>
	</tr>
	<% @organizations.each do |organization| %>
	<tr class="theight">
		<td><%= link_to organization.name, organization_path(organization) %></td>
		<td><%= organization.funds.count %></td>
		<td><%= organization.companies.count %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %> | 
        <%= link_to 'Destroy', organization_path(organization), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<div class='back_footer'>
	<%= link_to 'Add Organization', new_organization_path %>
</div>