<div class="headers">
  <h1>
  	<%= @organization.name %>
  </h1>  
</div>

<table class="org_summary right" style="width:1100px">
	<tr class="theight theader bold">
		<th class="left" style="width:100px">Fund</th>
		<th class="right9">Total Companies</th>
		<th class="right9">Total Size</th>
		<th class="right9">Mgmt Fee <br />Estimate</th>
		<th class="right9">Invested <br />to date</th>
		<th class="right9">Reserves</th>
		<th class="right9">Remaining Investible</th>
		<th class="right9">As % of <br />Total Size</th>
		<th class="right9">Close Date</th>
	</tr>
	<% @funds.each do |fund| %>
	<tr class="theight">
		<td class="left"><%= link_to "Fund #{fund.number}", organization_fund_path(@organization, fund) %></td>
		<td class="right"><%= fund.companies.size %></td>
		<td class="right"><%= nh(fund.size) %></td>
		<td><%= nh(fund.management_fee) %></td>
		<td><%= nh(fund.investments.sum(:investment_amount)) %></td>
		<td><%= nh(fund.companies.sum(:reserves))%> </td>
		<td><%= nh(fund.remaining_investible) %></td>
		<td><%= ph(fund.remaining_investible / fund.size * 100) %></td>
		<td><%= fund.start_date.strftime("%b %Y") rescue "Start Date" %></td>
	</tr>
	<% end %>
</table>

<table class="org_summary top_space right" style="width:1100px">
  <tr class="theight theader bold">
  	<th class="left" style="width:100px">All Companies</th>
  	<th class="right9">Owership %</th>
  	<th class="right9">Our Total<br />Investment</th>
  	<th class="right9">TTM Revenue</th>
  	<th class="right9">TTM Revenue Growth</th>
  	<th class="right9">TTM Rev/Employee</th>
  	<th class="right9">TTM Exp/Employee</th>
  	<th class="right9">Cash Runway</th>
  	<th class="right9">Fund</th>
  </tr>
	<% @organization.companies.each do |c| %>
	<tr class="theight">
		<td class="left"><%= link_to c.name, organization_fund_company_path(@organization, c.fund, c) %></td>
		<td><%= ph(c.current_investment(:fully_diluted_ownership)) %></td>
		<td><%= nh(c.investment_total) %></td>
		<td><%= nh(c.ttm_revenue) %></td>
		<td><%= ph(c.ttm_revenue_growth) %></td>
		<td><%= nh(c.ttm_revenue / c.current_financial(:head_count).to_f) %></td>
		<td><%= nh(c.ttm_expenses / c.current_financial(:head_count).to_f) %></td>
		<td class="right"><%= nhp(c.cash_runway, 1) %> months</td>
		<td><%= c.fund.number %></td>
	</tr>
	<% end %>
</table>

<br />
<div class='back_footer'>
	<%= link_to 'Add Fund', new_organization_fund_path(@organization) %> | 
	<%= link_to 'Back', organizations_path %>
</div>