<%= form_for [@organization, @fund, @company, @report] do |f| %>
<br />
	<div>
		<%= f.label :period %>
		<%= f.date_select :period, :discard_day => :true, :default => {:day => 1} %>
		<%= f.submit %>
	</div>
	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :summary %>
		</div>
		<div class="report_flag_edit">
	 		<%= f.select( :summary_status, options_for_select(Report::STATUS,  @report.summary_status), :include_blank => true ) %>
		</div>
		<div class="report_item_content">
			<%= f.text_area :summary, :size => "78x5" %>
		</div>
	</div>
	
	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :management %>
		</div>
		<div class="report_flag_edit">
 			<%= f.select( :management_status, options_for_select(Report::STATUS,  @report.management_status), :include_blank => true ) %><br />
		</div>
		<div class="report_item_content">
			<%= f.text_area :management, :size => "78x5" %>
		</div>
	</div>

	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :product %>
		</div>
		<div class="report_flag_edit">
 			<%= f.select( :product_status, options_for_select(Report::STATUS,  @report.product_status), :include_blank => true ) %><br />		
		</div>
		<div class="report_item_content">
			<%= f.text_area :product, :size => "78x5" %>
		</div>
	</div>	

	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :marketing %>
		</div>
		<div class="report_flag_edit">
	 		<%= f.select( :marketing_status, options_for_select(Report::STATUS,  @report.marketing_status), :include_blank => true ) %><br />
		</div>
		<div class="report_item_content">
			<%= f.text_area :marketing, :size => "78x5" %>
		</div>
	</div>	

	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :sales %>
		</div>
		<div class="report_flag_edit">
	 		<%= f.select( :sales_status, options_for_select(Report::STATUS,  @report.sales_status), :include_blank => true ) %><br />		
		</div>
		<div class="report_item_content">
			<%= f.text_area :sales, :size => "78x5" %>
		</div>
	</div>

	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :business_development %>
		</div>
		<div class='report_flag_edit'>
	 		<%= f.select( :business_development_status, options_for_select(Report::STATUS,  @report.business_development_status), :include_blank => true ) %><br />		
		</div>
		<div class="report_item_content">
			<%= f.text_area :business_development, :size => "78x5" %>
		</div>
	</div>

	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :competition %>
		</div>
		<div class="report_flag_edit">
	 		<%= f.select( :competition_status, options_for_select(Report::STATUS,  @report.competition_status), :include_blank => true ) %><br />		
		</div>
		<div class="report_item_content">
			<%= f.text_area :competition, :size => "78x5" %>
		</div>
	</div>	

	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :finance %>
		</div>
		<div class="report_flag_edit">
	 		<%= f.select( :finance_status, options_for_select(Report::STATUS,  @report.finance_status), :include_blank => true ) %><br />		
		</div>
		<div class="report_item_content">
			<%= f.text_area :finance, :size => "78x5" %>
		</div>
	</div>

	<div class="report_item">
		<div class="report_item_title">
			<%= f.label :legal %>
		</div>
		<div class="report_flag_edit">
	 		<%= f.select( :legal_status, options_for_select(Report::STATUS,  @report.legal_status), :include_blank => true ) %><br />		
		</div>
		<div class="report_item_content">
			<%= f.text_area :legal, :size => "78x5" %>
		</div>
	</div>

	<div class="report_item">
			<div class="report_item_title">
			<%= f.label :other %>
		</div>
		<div class="report_flag_edit">
	 		<%= f.select( :other_status, options_for_select(Report::STATUS,  @report.other_status), :include_blank => true ) %><br />		
		</div>
		<div class="report_item_content">
			<%= f.text_area :other, :size => "78x5" %>
		</div>
	</div>
<% end %>