<div class="headers">
  <h2><%= @report.period.strftime('%B %Y') %></h2>  
</div>

<div id="advancement_container">
	<div id="previous_button">
		<%= link_to "< PREVIOUS", organization_fund_company_report_path(@organization, @fund, @company, @company.previous_report(@report.id)) rescue "< PREVIOUS" %>
	</div>

	<div id="next_button">
		<%= link_to "NEXT >", organization_fund_company_report_path(@organization, @fund, @company, @company.next_report(@report.id)) rescue "NEXT >" %>
	</div>
</div>
	
<% @report_items.each do |item| %>
	<div class="report_item">
		<div class="report_flag">
			<% if Report::STATUS[@report.try(item + "_status")] == "Green" %>
				<%= image_tag('green.png') %>
			<% elsif Report::STATUS[@report.try(item + "_status")] == "Yellow" %>
				<%= image_tag('yellow.png') %>
			<% elsif Report::STATUS[@report.try(item + "_status")] == "Red"  %>
				<%= image_tag('red.png') %>
			<% else %>
			<% end %>
		</div>
		<div class="report_item_title"><%= item.humanize %></div>
		<div class="report_item_content"><%= @report.try(item) %></div>
	</div>
<% end %>