<input type='hidden' id='save_url' href="<%= report_path %>" />

<div class="headers">
  <h2>
    <span class="report_item_content" style="height:20px"><%= @report.period.strftime('%B %Y') %></span>
    <div class="report_item_content_edit_form" style="display:none; height:20px">
			<%= form_for([@organization, @fund, @company, @report] ) do |f| %>
	      <%= f.date_select :period, :discard_day => :true, :order => [:month, :year], :default => {:day => 1} %>
	      <%= link_to_function '| Save', "save_content()", :class => 'save_button', :style => 'display:none' %>
	      <%= link_to '| Cancel', organization_fund_company_report_path(@organization, @fund, @company, @report) %>
			<% end %>
    </div>
    <%= link_to_function '| Edit', "edit_content()", :class => 'edit_button' %>
  </h2>  
</div>

<div id="advancement_container">
	<div id="previous_button">
		<%= link_to "< PREVIOUS", organization_fund_company_report_path(@organization, @fund, @company, @company.previous_report(@report.id)) rescue "< PREVIOUS" %>
	</div>

	<div id="next_button">
		<%= link_to "NEXT >", organization_fund_company_report_path(@organization, @fund, @company, @company.next_report(@report.id)) rescue "NEXT >" %>
	</div>
</div>

  <% @report_items.each do |item| %>
  	<div class="report_item">
  		<div class="report_flag">
  			<% if Report::STATUS[@report.try(item + "_status")] == "Green" %>
  				<%= image_tag('green.png') %>
  			<% elsif Report::STATUS[@report.try(item + "_status")] == "Yellow" %>
  				<%= image_tag('yellow.png') %>
  			<% elsif Report::STATUS[@report.try(item + "_status")] == "Red"  %>
  				<%= image_tag('red.png') %>
  			<% else %>
  			<% end %>
  		</div>
  		<div class="report_item_title"><%= item.humanize %></div>
  		<div class="report_item_content"><%= @report.try(item) %></div>

      <!-- Report Edit Content -->
			<div id="update_me">
				<%= form_for([@organization, @fund, @company, @report], :remote => true ) do |f| %>

				  <div class="report_flag_edit" style="display:none">
				    <%= f.select( "#{item}_status".to_sym, options_for_select(Report::STATUS.invert.to_a,  @report.try(item + '_status')), :include_blank => true ) %>
				  </div>
					<div class="report_item_content_edit_form" style="display:none; margin-left:-5px;">
					  <%= f.text_area item.to_sym, :size => "78x5" %>
					</div>
				  <%= link_to 'Edit', '#', :class => 'edit_button' %>
					<%= link_to 'Save', '#', :class => 'save_button', :style => 'display:none' %>
				  <%= link_to '| Cancel', '#', :class => 'cancel_button', :style => 'display:none' %>
				<% end %>
			</div>				
			<!-- End Edit Content -->
		</div>  
	<% end %>

<script type="text/javascript">
$('.edit_button').click(function (e) {
	e.preventDefault();
	var container = $(this).parent().parent().parent();
	
	container.find('.report_item_content_edit_form').show();
	container.find('.report_item_content').hide();
	container.find('.edit_button').hide();
	container.find('.save_button').show();
	container.find('.cancel_button').show();
	container.find('.report_flag').hide();
	container.find('.report_flag_edit').show();		
})

$('.save_button').click(function (e) {
	e.preventDefault();
	var container = $(this).parent().parent().parent();		
	container.find('form').submit();		
	container.find('.report_item_content').text(container.find('.report_item_content_edit_form textarea').val());
	clear_form(container);
})

$('.cancel_button').click(function (e) {
	e.preventDefault();
	var container = $(this).parent().parent().parent();
	container.find('.report_item_content_edit_form textarea').val(container.find('.report_item_content').text());
	
	clear_form(container);
})

function clear_form(container) {
	container.find('.report_item_content_edit_form').hide();
	container.find('.report_item_content').show();
	container.find('.save_button').hide();
	container.find('.cancel_button').hide();
	container.find('.edit_button').show();
	container.find('.report_flag_edit').hide();
	container.find('.report_flag').show();		
}
</script>