<div class="headers">
  <h1><%= @company.name %> Reports</h1>  
</div>

<%= form_tag '/reports/show_filtered', :remote => true do %>
		<%= select_month(Date.today, :field_name => :report_month) %>
		<%= select_year(Date.today, :field_name => :report_year) %>
		<%= submit_tag "See Report" %>
<% end %>
<br />

<div class="report_month_menu">
  <div class="month_plain">
    <%= link_to "< #{Date.civil(session[:report_year]).years_ago(1).year}", report_change_report_period_path(1, :organization_id => params[:organization_id], :fund_id => params[:fund_id], :company_id => @company.id), :method => :put %>
  </div>
	<!-- <div class="month_plain">
		<%= link_to "<", organization_fund_company_report_path(@organization, @fund, @company, @company.previous_report(@report.id)) rescue "<" %>
	</div> -->

  <% if @report.present? %>
  	<% @report_months.each do |position, month| %>
  		<div id="<%= position %>" class="<%= check_report(@report.period.month, position) %>">
  			<%= link_to month, organization_fund_company_report_path(@organization, @fund, @company, @company.reports.where("period = ?", @report.period.beginning_of_year.months_since("#{position}".to_i)).first.id) rescue month %>			
  		</div>
  	<% end %>
  <% else %>
    Hi!
  <% end %>

	<!-- <div class="month_plain">
		<%= link_to ">", organization_fund_company_report_path(@organization, @fund, @company, @company.next_report(@report.id)) rescue ">" %>
	</div> -->
  <div class="month_plain">
    <%= link_to "#{Date.civil(session[:report_year]).years_since(1).year	} >", '#' %>
  </div>
	<div class="month_plain" style="float: right">
		<%= link_to "Add Report", new_organization_fund_company_report_path(@organization, @fund, @company) %>
	</div>
</div>