<div class="headers">
  <h1><%= @company.name %> Reports</h1>  
</div>

	<%= select_year(Date.today, {}, :field_name => :report_year, :id => "year_selector") %>

	<div id="month_select_container" style="display: none;">
		<select id="month_select" size="1">
		</select>	
	</div>

<br />

<div class="report_month_menu">
  <div class="month_plain">
		<%= report_move_back %>
  </div>
	<!-- <div class="month_plain">
		<%= link_to "<", organization_fund_company_report_path(@organization, @fund, @company, @company.previous_report(@report.id)) rescue "<" %>
	</div> -->

  <% if @report.present? %>
  	<% @report_months.each do |position, month| %>
  		<div id="<%= position %>" class="<%= check_report(@report.period.month, position) %>">
  			<%= link_to month, organization_fund_company_report_path(@organization, @fund, @company, @company.reports.where("period = ?", @report.period.beginning_of_year.months_since("#{position}".to_i)).first.id) rescue month %>			
  		</div>
  	<% end %>
  <% else %>
    Hi!
  <% end %>

	<!-- <div class="month_plain">
		<%= link_to ">", organization_fund_company_report_path(@organization, @fund, @company, @company.next_report(@report.id)) rescue ">" %>
	</div> -->
  <div class="month_plain">
		<%= report_move_forward %>
  </div>
	<div class="month_plain" style="float: right">
		<%= link_to "Add Report", new_organization_fund_company_report_path(@organization, @fund, @company) %>
	</div>
</div>