<div class="headers">
  <h1><%= @company.name %> Reports</h1>  
</div>

<%= form_tag '/reports/show_filtered', :remote => true do %>
		<%= select_month(Date.today, :field_name => :report_month) %>
		<%= select_year(Date.today, :field_name => :report_year) %>
		<%= submit_tag "See Report" %>
<% end %>
<br />

<div class="report_month_menu">
  <div class="month_plain">
    <%= link_to "< 2010", report_change_report_period_path(1, :organization_id => params[:organization_id], :fund_id => params[:fund_id], :company_id => @company.id), :method => :put %>
  </div>

  <% if @report.present? %>
  	<% @report_months.each do |position, month| %>
  		<div id="<%= position %>" class="<%= check_report(@report.period.month, position) %>">
  			<%= link_to month, organization_fund_company_report_path(@organization, @fund, @company, @company.reports.where("period = ?", @report.period.beginning_of_year.months_since("#{position}".to_i)).first.id) rescue month %>			
  		</div>
  	<% end %>
  <% else %>
    Hi!
  <% end %>

  <div class="month_plain">
    <%= link_to "2012 >", '#' %>
  </div>
	<div class="month_plain" style="float: right">
		<%= link_to "Add Report", new_organization_fund_company_report_path(@organization, @fund, @company) %>
	</div>
	<div class="month_plain" style="float: right">
		<%= link_to "Edit", edit_organization_fund_company_report_path(@organization, @fund, @company, @report) %>
	</div>
</div>

<div id="report_holder">

	<%= render 'report_content' %>
	
</div>

<div class="back_footer">
	<%= link_to "Edit", edit_organization_fund_company_report_path(@organization, @fund, @company, @report) %> |
	<%= link_to "Back", organization_fund_company_reports_path(@organization, @fund, @company) %>
</div>

<script>

	function recolor_month(selected_period) {
    jQuery('div.report_month_menu div').removeClass('month_selected').addClass('month_plain')
		jQuery('.report_month_menu div#' + selected_period).addClass('month_selected')
	};

</script>