<h2><%= @company.name %> Reports</h2>

<%= form_tag '/reports/show_filtered', :remote => true do %>
	<div>
		<%= label_tag :report_year %>
		<%= select_year(Date.today, :field_name => :report_year) %>
	</div>
	<div>
		<%= label_tag :report_month %>
		<%= select_month(Date.today, :field_name => :report_month) %>
	</div>
		<%= submit_tag :search %>
<% end %>

<div class="report_month_menu">
	<% @report_months.each do |position, month| %>
		<div class="<%= check_report(@report.period.month, position) %>">
			<%= link_to month, organization_fund_company_report_path(@organization, @fund, @company, @company.reports.where("period = ?", @report.period.beginning_of_year.months_since("#{position}".to_i)).first.id) rescue month %>			
		</div>
	<% end %>
	<div class="month_plain" style="float: right">
		<%= link_to "Add Report", new_organization_fund_company_report_path(@organization, @fund, @company) %>
	</div>
	<div class="month_plain" style="float: right">
		<%= link_to "Edit", edit_organization_fund_company_report_path(@organization, @fund, @company, @report) %>
	</div>
</div>

<div id="report_holder">

	<%= render 'report_content' %>
	
</div>

<div class="back_footer">
	<%= link_to "Edit", edit_organization_fund_company_report_path(@organization, @fund, @company, @report) %> |
	<%= link_to "Back", organization_fund_company_reports_path(@organization, @fund, @company) %>
</div>