<!DOCTYPE html>
<html>
<head>
  <title>Fundtracker2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
	<script type="text/javascript" charset="utf-8">
		$.noConflict();
	</script>
<body>

<%= notice %>
<%= alert %>

<% if flash.any? %>
	<% flash.each do |key, value| %>
		<div class="<%= key %>">
			<%= value %>
		</div>
	<% end %>
<% end %>

<div class="main_header">
  <div>
    <ul>
      <li><%= link_to 'Dashboard', organizations_path %></li>
			<% if @organization.present? %>
      <li><%= link_to 'Portfolio', organization_path(@organization) %></li>
      <li><%= link_to 'Fundraising', organization_investors_path(@organization) %></li>
			<% end %>
    </ul>
  </div>
</div>
<div class="dropdown_header">
  <ul>
    <li>
    	<%= form_tag do %>
    		<%= label_tag :organization %>
    		<%= select_tag(:organization_id, options_for_select(Organization.all.map {|o| [o.name, o.id]}.unshift(['All Organizations','']), session[:organization_id]), :onchange => 'to_organization_index(this)') %>
    	<% end %>
    </li>

    <li>
    	<%= form_tag do %>
    		<%= label_tag :fund %>
    		<%= select_tag(:fund_id, options_for_select(available_funds(@organization), session[:fund_id]), :onchange => "to_fund_show(this,  #{@organization.try(:id.to_s)})") %>
    	<% end %>
    </li>
    <li>
    	<%= form_tag do %>
    		<%= label_tag :company %>
    		<%= select_tag(:company_id, options_for_select(available_companies(@fund), session[:company_id]), :onchange => "to_company_show(this,  #{@organization.try(:id.to_s)}, #{@fund.try(:id.to_s)})") %>
    	<% end %>
    </li>
  </ul>
	<% if @company.present? %>
		<div class="dropdown_header_right">
			<ul>
				<li><%= link_to 'Summary', organization_fund_company_path(@organization, @fund, @company) %></li>
				<li><%= link_to 'CEO Report', organization_fund_company_report_path(@organization, @fund, @company, @company.reports.order('period DESC').first.id) %></li>
				<li><%= link_to 'Financials', organization_fund_company_financials_path(@organization, @fund, @company) %></li>
				<li>Metrics</li>			
				<li><%= link_to 'Investments', organization_fund_company_investments_path(@organization, @fund, @company) %></li>
				<li>Documents</li>
			</ul>
		</div>
	<% end %>
</div>
<% if @company.present? %>
	<div class="dropdown_sub_header">
		<ul>
			<li><%= link_to 'Add Financials', new_organization_fund_company_financial_path(@organization, @fund, @company) %></li>
			<li><%= link_to 'Add Investment', new_organization_fund_company_investment_path(@organization, @fund, @company) %></li>
		</ul>
	</div>
<% end %>

<% if controller_name == 'financials' %>
  <%= render 'financials_sub_nav' %>
<% elsif controller_name == 'forecasts' %>
	<%= render '/financials/financials_sub_nav'%>
<% end %>
<%= yield %>

</body>
</html>
