<!DOCTYPE html>
<html>
<head>
  <title>Fundtracker2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= notice %>
<%= alert %>

<% if controller_name == 'financials' %>
  <%= render 'financials_sub_nav' %>
<% end %>
<%= yield %>

</body>
</html>
